<footer class="page-footer mt-4 py-3 bg-secondary text-white ">
    <div class="container">
        Created by <a href="#" class="text-white"><b>Team Dúi</b></a> 
        <br>
        Contact us: <b>teamdui5m@gmail.com</b>
    </div>
</footer>