<div class="surveys-container mt-3 d-flex justify-content-between flex-wrap">

    <% for( let survey of surveys ) { %>
        
        <div class="survey-container">
            <div class="survey-options text-right">
                <a href="#" class="text-dark">
                    <i class="fa fa-pie-chart"></i> Result
                </a>
            </div>
    
            <div class="survey-title text-primary">
                <h4><a href="#"><%= survey.title %> </a></h4>
            </div>
    
            <div class="survey-hash-tag text-success">
                <i class="fa fa-slack"></i> <%= survey.hashTag %> 
            </div>
    
            <div class="survey-vote-info text-danger">
                <i class="fa fa-star"></i> 3434323 votes
            </div>
    
            <div class="survey-author text-secondary">
                <i class="fa fa-address-book"></i> <%= survey.owner.name %> 
            </div>
    
            <div class="survey-date-modified text-secondary">
                <i class="fa fa-calendar"></i> <%= new Date(survey.dateModified).toLocaleString() %> 
            </div>
    
        </div>
        
    <% } %>

</div>

