<div class="survey-result">

    <div class="survey-info">

        <h3 class="survey-title">This is survey title</h3>
        <hr>
        <div class="survey-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

        <div class="survey-details row">
            <div class="col">
                <span class="text-success" style="padding: 0;">
                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                    food_and_drink
                </span>
                <br>
                <span class="text-danger">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    13430 votes
                </span>
            </div>

            <div class="col">
                <span class="text-secondary">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Do Chinh
                </span>
                <br>
                <span class="text-secondary">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    2020/03/31 15:32:55
                </span>
            </div>
        </div>

    </div>

    <div class="survey-stats">

        <div class="question">
            <h5 class="question-content">This is choice-question</h5>
            <img src="https://www.amcharts.com/wp-content/uploads/2018/11/demo_11322_none.png" style="width: 100%; height: 250px;" alt="">
        </div>

        <div class="question">
            <h5 class="question-content">This is text-question</h5>
            <table class="table table-striped">
                <tr>
                    <th>User</th>
                    <th>Content</th>
                    <th>Date Modified</th>
                </tr>

                <tr>
                    <td>Chinh</td>
                    <td>Crazy Shit</td>
                    <td>2020/03/30 12:34:00</td>
                </tr>

                <tr>
                    <td>Bằng</td>
                    <td>Đẹp trai</td>
                    <td>2020/03/31 16:51:00</td>
                </tr>

                <tr>
                    <td>Mạnh</td>
                    <td>Mạnh winner</td>
                    <td>2020/03/31 16:52:00</td>
                </tr>

                <tr>
                    <td>An</td>
                    <td>"Không làm mà đòi ăn chỉ có ăn ..." An đẹp trai said</td>
                    <td>2020/03/31 16:53:00</td>
                </tr>


            </table>
        </div>
    </div>

</div>