<div class="survey-editor">

    <div class="survey-info">
        <h3>Survey Info</h3>
        <form class="form form-edit-survey" onsubmit="SurveyEditorHandler.saveSurvey(event)">

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" name="title" id="title" class="form-control form-control-sm">
                        <small class="title-error text-danger"></small>
                    </div>

                    <div class="form-group">
                        <label for="hash-tag">Hash Tag:</label>
                        <input type="text" name="hashTag" id="hash-tag" class="form-control form-control-sm">
                        <small class="hashTag-error text-danger"></small>
                    </div>

                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea name="description" id="description" cols="30" rows="5"
                            class="form-control form-control-sm"></textarea>
                        <small class="description-error text-danger"></small>
                    </div>

                </div>
            </div>

            <button class="btn btn-primary">Submit</button>

        </form>
    </div>

    <div class="survey-questions">
        <h3>Survey Questions</h3>

        <div class="questions-container">

        </div>

        <button class="btn btn-success" onclick="SurveyEditorHandler.addQuestion('Single-Choice Question');">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Single-Choice Question
        </button>

        <button class="btn btn-danger" onclick="SurveyEditorHandler.addQuestion('Multiple-Choice Question')">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Multiple-Choice Question
        </button>

        <button class="btn btn-info" onclick="SurveyEditorHandler.addQuestion('Text Question')">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Text Question
        </button>

    </div>

</div>

<script src="/public/js/supporters/Validator.js"></script>
<script src="/public/js/handlers/SurveyEditorHandler.js"></script>