<div class="survey-answer-sheet">
    <div class="survey-info">

        <div class="survey-options float-right">
            <a href="#" class="text-dark">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                Result
            </a>
        </div>

        <h3 class="survey-title">This is survey title</h3>

        <hr>

        <div class="survey-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

        <div class="survey-details row">
            <div class="col">
                <span class="text-success" style="padding: 0;">
                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                    food_and_drink
                </span>
                <br>
                <span class="text-danger">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    13430 votes
                </span>
            </div>

            <div class="col">
                <span class="text-secondary">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Do Chinh
                </span>
                <br>
                <span class="text-secondary">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    2020/03/31 15:32:55
                </span>
            </div>
        </div>

    </div>

    <form action="" class="survey-answer-form">
        <h3>Enter your answers: </h3>

        <div class="question">
            <h5 class="question-content">This is content of single-choice question</h5>
            <select name="answer[]" class="form-control">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
            </select>
        </div>

        <div class="question">
            <h5 class="question-content">This is content of multiple-choice question</h5>
            <select name="answer[]" multiple class="form-control">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
            </select>
        </div>

        <div class="question">
            <h5 class="question-content">This is content of text question</h5>
            <textarea name="answer[]" cols="30" rows="4" class="form-control"></textarea>
        </div>

        <button class="btn btn-success">Submit</button>

    </form>
</div>