/* View surveys */
.survey-container {
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.survey-container .survey-title h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Survey editor */

.survey-editor > * {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px 50px;
    margin-bottom: 30px;
}

.question {
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 15px;
}

/* Survey answer sheet */

.survey-answer-sheet > * {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px 50px;
    margin-bottom: 30px;
}

/* Survey result */

.survey-result > * {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px 50px;
    margin-bottom: 30px;
}